*{
    transition: 0.15s ease-in-out;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color:#121214;
    color:white;
}
#coupon{
    border-radius:5px;
    margin:1px;
    border:none;
    padding:5px;
}
.promo{
    width: 100%;
    height: 100%;

    text-align: center;
}
.promo h6,h5{
    margin-bottom:2px;
    padding:0px;
}
.coupon-area  input:focus{
box-shadow : 0 0 0 0;
outline: 0;
}
.buttonIndex {
    background-color:transparent;
    color:white;
    border:1px solid white;
    padding:5px;
    border-radius:5px;
    cursor:pointer;
    margin-left:5px;
}
.buttonIndex:hover{
    background-color:white;
    color:black;
    cursor:pointer;
}





.noProductsSelected{
    width: 100%;
    height: 100%;
    text-align:center;
}
main > section.items h4 {
    text-align: center;
    margin-top: 0;
    width: 100%;
}
main {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
}

main > section.items {
    display: flex;
    flex-wrap: wrap;
    background-color: #1e1e22;
    width: 50%;
    height: 50%;
    justify-content: center;
    border-radius: 5px;
    margin-left:15%;
    margin-right:15%;
    padding:15px;
    margin-top:2%;
}

section.items .product {
    border: 1px solid lightgrey;
    margin: 6px;
    flex: 0 0 calc(33.333% - 24px);
    cursor: pointer;
    text-align: center;
    border-radius:5px;
  
}

section.items .product.selected {
    border: 4px solid #16a349;
}

section.items .photo img {
    max-width: 90px;
    
}
.photo {
    border-radius:50px;
}
section.items .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 11px;
    line-height: 15px;
}

section.items  .description .price {
    font-weight: bold;
    margin: 4px auto;
}

section.items  .description .quantity-area {
    margin: 8px auto;
    height: 14px;
}

section.items  .description .quantity-area button {
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius:4px;
    border:none;
    padding:10px;
}
section.items  .description .quantity-area button:hover {
    transition: 0.25s ease-in-out;
background-color:rgba(255, 255, 255, 0.198);
}
section.items  .description .quantity-area .quantity {
    font-weight: bold;
    margin: 0 4px;
}


section.summary {
    margin-top:1%;
    background-color: #1e1e22;
    padding: 15px;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    margin-left:15%;
    margin-right:15%;
    margin-bottom:25%;
}

section.summary table {
  
    width: 100%;
    padding-top: 12px;
    font-size: 11px;
    margin: auto;
}

section.summary table tbody tr:last-of-type th {
   
    border-top: 1px solid rgba(255, 255, 255, 0.198);
    padding:5px;
}



